ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(250, 249, 249); */
}

li {
    float: left;
}

li {
    display: block;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* positionment droit */
li.pos{
    float:right;
}

/* effet positionement droit */
button{
    border: none;
    background-color: white;
    padding: 8px 16px;

}
button:hover{
    background-color: rgb(54, 104, 211);
    padding: 9px 18px;
    border-radius: 5px;
    color: white;
}

/* effet nqvigation  */
li.act:hover {
    background-color: rgb(158, 185, 245);
}

