/* .container{
     width: 80%;
     margin: 0 auto; 
 } */

 .fixed-header, .fixed-footer{
     width: 100%;
     position: fixed;        
     background: rgb(199, 197, 197);
     padding: 10px 0;
     color: #fff;
 }
 .fixed-header{
     top: 0;
 }
 .fixed-footer{
     bottom: 0;
 }    
 /* Some more styles to beutify this example */
 /*nav a{
     color: #fff;
     text-decoration: none;
     padding: 7px 25px;
     display: inline-block;
 }*/
 