/* la police  */
@font-face {
  font-family: "OpenSans";
  src: url("../src/font/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
/* le main du site  */
.wrapper > div {
  height: 100vh;
  display: flex;

  /* Direction of the items, can be row or column */
  flex-direction: column;
}

header,
footer div {
  height: 55px;
  width: 100%;
}

main {
  flex: 1;
}
/* redefinition des H1 */
@font-face {
  font-family: "OpenSans_b";
  src: url("../src/font/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: "OpenSans_b";
}
/* Rules below just for niceness */
body {
  font-family: "OpenSans";
  margin: 0;
}

header {
  /* background-color: #2ecc71; */
  font-family: "OpenSans";
}

main {
  background-color: #f8f9fa;
  font-family: "OpenSans";
}

footer > div {
  /* background-color:#2c3e50;
  color:white; */
  font-family: "OpenSans";
}

/* ================la navigation ============== */

.fixed-header > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(250, 249, 249); */
}

.fixed-header ul li {
  float: left;
}
/* Accueil */
li.thicker {
  font-weight: bold;
  font-family: "OpenSans_b";
  /* font-size: 20px; */
}
.fixed-header h2 {
  display: block;
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.fixed-header ul li {
  display: block;
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: unset;
}
/* positionment droit */
.fixed-header ul li.pos {
  float: right;
}

/* effet positionement droit */
button {
  border: none;
  background-color: white;
  padding: 8px 16px;
}
button:hover {
  background-color: rgb(54, 104, 211);
  padding: 9px 18px;
  border-radius: 5px;
  color: white;
}

/* effet nqvigation  */
li.act:hover {
  background-color: rgb(158, 185, 245);
}

/* ===============Le footeur ============== */
/* contient */
.footer-clean {
  /* padding:50px 0; */
  background-color: #fff;
  color: #4b4c4d;
  margin: 12px;
}

/*donne un bon posisionement au h3*/
.footer-clean h3 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

/*suprime les boutton de ul */
.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
/*modifie le comportement des lien */
.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

#main {
  width: 800px;
  height: 100px;
  /*border: 1px solid #c3c3c3;*/
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#main div {
  /*width: 300px;*/
  height: 100px;
}

/* le base du footeur */
@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}
.footer-clean .copyright {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 13px;
  opacity: 0.6;
  float: left;
}
.footer-clean .item.social > a {
  /* margin: 15px; */
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  opacity: 0.6;
}
img {
  width: 20px;
}

/* ============ Home continte ============== */

* {
  box-sizing: border-box;
}
.divehome {
  float: left;
  width: 50%;
  padding: 15px;
  /* height: 500px; */
  /* margin: 0.5px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

.divehome h2 {
  /* text-transform: uppercase; */
  /* l'espace entre les lettre du text */
  /* letter-spacing: 2px; */
  /* la taille du text */
  font-size: 2rem;
  color: rgb(0, 0, 0);
  /* l'ombre du text x, y ,*/
  /* text-shadow: 5px 0 0 darkblue; */
  /* positionnement du texte */
  text-align: left;
  /* text-decoration: darkgoldenrod; */
  /* texte grage */
  font-weight: bold;
  /* font-family: ; */
}

.divehome p {
  letter-spacing: 0.5px;
  color: #595a5a;
  line-height: 1.6;
  text-align: justify;
}

.divehome img {
  width: 85%;
  margin: 40px;
  border-radius: 7px;
  box-shadow: 10px 10px 5px grey;
}

/* ===================Projest continte ====================== */

#img {
  border-radius: 7px;
  box-shadow: none;
  margin: 0px;
}
#img_lab {
  width: 48%;
  border-radius: 7px;
  box-shadow: none;
  margin: 0px;
}
table {
  width: 100%;
  /* border: 1px solid orangered; */
}

/* ==========deuxeme bloke ============== */
#table1 {
  background-color: rgb(221, 231, 241);
  width: 100%;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 2em;
}

<<<<<<< HEAD
.box :first-child {
=======
/* .box first-child {
<<<<<<< src/index.css
>>>>>>> bdca5dc989e2312f190c895011b5a5e52985992a
  align-self: center;
} */
#box_projrt6 {
  width: 220%;
  background-color: rgb(221, 231, 241);
  border-radius: 10px;
  padding: 15px;
  text-align: justify;
  margin: -10px;
}
/* Les connestions  */
.login-box {
  margin: 0rem auto 0;
  max-width: 50%;
  max-width: 40%;
  padding: 1%;
  /* padding: 40px; */
  /* transform: translate(-50%, -50%); */
  background: rgb(249, 250, 252);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box p {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(3, 3, 3);
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(252, 250, 250);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #036bf4;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #036bf4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #036bf4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #036bf4;
  /* #03e9f4; */
  color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4; */
}

.login-box a span {
  position: absolute;
  display: block;
}

/* .login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
} */

/* @keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
} */

/* .login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4); 
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
} */

/* @keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
} */

/* .login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
} */

/* @keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
} */

/* .login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
} */

/* @keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
} */
/* traitement sur les chant  */
input,
textarea {
  background: none;
  font-family: "OpenSans";
  font-size: 1.1rem;
  /* border-bottom: 1px; */
  color: #000000;
  border-radius: 5px;
}
input::placeholder,
textarea::placeholder {
  color: #b9bbbd;
}
input,
.email-content,
textarea {
  width: 100%;
  margin: 0 auto;
}
/* input {
  padding: 24px 0 12px;
} */
.email-content {
  position: relative;
}
.email-content input {
  width: 100%;
}
#not-mail {
  display: none;
  position: relative;
  top: 4px;
  color: #ff4d4d;
  right: 0;
  transform-origin: 50% 50%;
}
@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
textarea {
  resize: none;
  padding: 24px 0;
}
/* .button {
  font-size: 1.3rem;
  margin-top: 15px;
  color: #cec950;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
} */
.button:hover {
  letter-spacing: 2px;
  background-color: #036bf4;
}
.error::placeholder {
  color: #ff4d4d;
}
.form-message {
  margin-top: 10px;
  padding: 12px;
  opacity: 0;
  transition: 0.2s ease;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}

/* Bouton d'envoie  */
#E-contact {
  background-color: #036bf4;
  width: 100px;
  /* pour center la balise sunmite  */
  display: block;
  margin: 0 auto;
<<<<<<< HEAD
=======
=======
    align-self: center;
    background-color: aqua;
>>>>>>> src/index.css
>>>>>>> bdca5dc989e2312f190c895011b5a5e52985992a
}
